:root {
  --clr-bg: 212, 45%, 89%;
  --clr-card-bg: 0, 0%, 100%;
  --clr-primary: 218, 44%, 22%;
  --clr-secondary: 220, 15%, 55%;

  --ff-outfit: "Outfit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-outfit);
  font-size: 0.9375rem; /* 15px */
  padding: 1rem;
  background: hsl(var(--clr-bg));
  color: hsl(var(--clr-primary));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
p {
  overflow-wrap: break-word;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card {
  background: hsl(var(--clr-card-bg));
  max-width: 20rem;
  padding: 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 1.5625rem 1.5625rem hsla(0, 0%, 0%, 4.77%);
}

.img-wrapper {
  border-radius: 0.625rem;
  overflow: hidden;
}

.card__content {
  margin-block: 1.5rem;
}

.card__title {
  font-size: 1.375rem;
}

.card__description {
  margin-top: 1rem;
  padding-inline: 1rem;
  color: hsl(var(--clr-secondary));
}
